@mixin color-variants($name, $base, $include-disabled: false) {
  --color-#{$name}: #{$base};
  --color-#{$name}-light: oklch(from #{$base} calc(l + 0.25) c h);
  --color-#{$name}-dark: oklch(from #{$base} calc(l - 0.15) c h);
  --color-#{$name}-solid-hover: oklch(from #{$base} calc(l - 0.08) c h);
  --color-#{$name}-ghost-hover: oklch(from #{$base} l c h / 0.1);
  --color-#{$name}-contrast: oklch(from #{$base} calc((0.6 - l) * 999) 0 h); // 👈

  @if $include-disabled {
    --color-disabled-bg: oklch(from #{$base} calc(l + 0.1) c h);
    --color-disabled-border: oklch(from #{$base} calc(l + 0.05) c h);
    --color-disabled-text: oklch(from #{$base} calc(l - 0.2) c h);
    --color-disabled-icon: oklch(from #{$base} calc(l + (1 - l) * 0.55) c h);
  }
}
