@mixin panel-colors($base, $mode: 'light') {
  --color-panel-bg: #{$base};
  --color-panel-contrast: oklch(from #{$base} calc((0.6 - l) * 999) 0 h);
  --color-panel-bg-alt: oklch(from #{$base} calc(l - 0.04) c h);
  --color-panel-border: oklch(from #{$base} calc(l - 0.08) c h);
  --color-panel-stripe: oklch(from #{$base} calc(l + 0.03) c h);

  @if $mode == 'dark' {
    --color-panel-text: oklch(from #{$base} calc(l + (1 - l) * 0.75) c h);
    --color-panel-text-secondary: oklch(from #{$base} calc(l + (1 - l) * 0.5) c h);
  } @else {
    --color-panel-text: oklch(from #{$base} calc(l * 0.35) c h);
    --color-panel-text-secondary: oklch(from #{$base} calc(l * 0.55) c h);
  }
}
