@mixin surface-colors($page-base, $surface-base, $mode: 'light', $border-base: null) {
  --color-page: #{$page-base};
  --color-page-contrast: oklch(from #{$page-base} calc((0.6 - l) * 999) 0 h);
  --color-surface: #{$surface-base};
  --color-surface-contrast: oklch(from #{$surface-base} calc((0.6 - l) * 999) 0 h);

  @if $mode == 'dark' {
    --color-page-alt: oklch(from #{$page-base} calc(l + 0.05) c h);
    --color-surface-alt: oklch(from #{$surface-base} calc(l + 0.1) c h);
  } @else {
    --color-page-alt: oklch(from #{$page-base} calc(l - 0.03) c h);
    --color-surface-alt: oklch(from #{$surface-base} calc(l - 0.06) c h);
  }

  @if $border-base {
    --color-surface-border: #{$border-base};
    --color-input-border: #{$border-base};
  }
}
