@mixin typography($base, $mode: 'light') {
  --color-content-text: #{$base};
  --color-content-link: oklch(from #{$base} calc(l - 0.1) c h / 0.85);
  --color-content-code: oklch(from #{$base} l calc(c + 0.08) h);

  @if $mode == 'dark' {
    --color-content-text-secondary: oklch(from #{$base} calc(l + (1 - l) * 0.7) c h);
    --color-content-text-muted: oklch(from #{$base} calc(l + (1 - l) * 0.85) c h);
    --color-content-text-placeholder: oklch(from #{$base} calc(l + (1 - l) * 0.55) c h);
  } @else {
    --color-content-text-secondary: oklch(from #{$base} calc(l * 0.6) c h);
    --color-content-text-muted: oklch(from #{$base} calc(l * 0.4) c h);
    --color-content-text-placeholder: oklch(from #{$base} calc(l + (1 - l) * 0.55) c h);
  }
}
