@use '../mixins' as *;

@theme {
  @include color-variants('brand', #0d6efd);
  @include color-variants('secondary', #a855f7);
  @include color-variants('success', #198754);
  @include color-variants('danger', #dc3545);
  @include color-variants('warning', #ffc107);
  @include color-variants('disabled', #6c757d, true);

  @include typography(#212529, 'light');
  @include surface-colors(#f8fafc, #ffffff, 'light', #e2e8f0);
  @include panel-colors(#e2e8f0, 'light');
}
