@use '../mixins' as *;

[data-theme='blue'] {
  @include color-variants('brand', #0d6efd);
}

[data-theme='green'] {
  @include color-variants('brand', #22c55e);
}

[data-theme='orange'] {
  @include color-variants('brand', #f97316);
}

[data-theme='yellow'] {
  @include color-variants('brand', #eab308);
}

[data-theme='fuchsia'] {
  @include color-variants('brand', #d946ef);
}
