@import 'tailwindcss';

/* Semantic Name 	Lighter (Subtle)	Base (500)	Heavier (700)
Primary	#cfe2ff	#0d6efd	#0a58ca
Secondary	#e2e3e5	#6c757d	#495057
Success	#d1e7dd	#198754	#146c43
Info	#cff4fc	#0dcaf0	#0aa2c0
Warning	#fff3cd	#ffc107	#cc9a06
Danger	#f8d7da	#dc3545	#b02a37
Dark	#ced4da	#212529	#000000 */

@theme inline {
  --color-primary: #0d6efd;
  --color-primary-light: #cfe2ff;
  --color-primary-heavy: #0a58ca;
  --color-secondary: #6c757d;
  --color-secondary-light: #e2e3e5;
  --color-secondary-heavy: #495057;
  --color-success: #198754;
  --color-success-light: #d1e7dd;
  --color-success-heavy: #146c43;
  --color-danger: #dc3545;
  --color-danger-light: #f8d7da;
  --color-danger-heavy: #b02a37;
}
