@import 'tailwindcss';

/* Semantic Name 	Light (Subtle) and Heavy (700) **/
@theme {
  /** Primary Color */
  --color-primary: #0d6efd;
  --color-primary-light: #cfe2ff;
  --color-primary-heavy: #0a58ca;

  /** Secondary Color */
  --color-secondary: #6c757d;
  --color-secondary-light: #e2e3e5;
  --color-secondary-heavy: #495057;

  /** Success Color */
  --color-success: #198754;
  --color-success-light: #d1e7dd;
  --color-success-heavy: #146c43;

  /** Danger Color */
  --color-danger: #dc3545;
  --color-danger-light: #f8d7da;
  --color-danger-heavy: #b02a37;
}

/* @media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0b0b0c;
    --color-foreground: #f5f5f7;
  }
} */
@custom-variant hocus (&:is(:hover, :focus-visible));

@layer components {
  .border-base {
    @apply bg-white border border-gray-200 rounded-lg;
  }

  .hocus-base {
    @apply hocus:outline-none hocus:border-gray-300;
  }

  .input-base {
    @apply h-8 w-full py-4 px-2;
  }
}
