@import 'tailwindcss';

/** CSS root declarations */
:root {
  /** Brand */
  --color-brand: #0d6efd;
  --color-brand-lighter: #cfe2ff;
  --color-brand-heavier: #0a58ca;

  /** Brand-Secondary */
  --color-brand-secondary: #6c757d;
  --color-brand-secondary-lighter: #e2e3e5;
  --color-brand-secondary-heavier: #495057;

  /** Success */
  --color-success: #198754;
  --color-success-lighter: #d1e7dd;
  --color-success-heavier: #146c43;

  /** Danger */
  --color-danger: #dc3545;
  --color-danger-lighter: #f8d7da;
  --color-danger-heavier: #b02a37;

  /** Text */
  --color-content-text: black;
  --color-content-text-secondary: darkgray;

  /** Page backgrounds, surfaces and cards */
  --color-page: #f9f9f9;
  --color-page-alt: #bababa;
  --color-surface: white;
  --color-surface-alt: #f5f5f5;

  /** Border colors */
  --color-surface-border: #f0f0f0;
  --color-input-border: #e8e8e8;
}

/** Custom Tailwind Color Utils */
/** Maps css vars -> tailwind utils */
@theme {
  /** brand */
  --color-brand: var(--color-brand);
  --color-brand-light: var(--color-brand-light);
  --color-brand-lighter: var(--color-brand-lighter);
  --color-brand-heavier: var(--color-brand-heavier);

  /** brand-secondary */
  --color-brand-secondary: var(--color-brand-secondary);
  --color-brand-secondary-lighter: var(--color-brand-secondary-lighter);
  --color-brand-secondary-heavier: var(--color-brand-secondary-heavier);

  /** success */
  --color-success: var(--color-success);
  --color-success-lighter: var(--color-success-lighter);
  --color-success-heavier: var(--color-success-heavier);

  /** danger */
  --color-danger: var(--color-danger);
  --color-danger-lighter: var(--color-danger-lighter);
  --color-danger-heavier: var(--color-danger-heavier);

  /** text */
  --color-content-text: var(--color-content-text);
  --color-content-text-secondary: var(--color-content-text-secondary);

  /** page, surface and cards c*/
  --color-page: var(--color-page);
  --color-page-alt: var(--color-page-alt);
  --color-surface: var(--color-surface);
  --color-surface-alt: var(--color-surface-alt);

  /** borders */
  --color-surface-border: var(--color-surface-border);
  --color-input-border: var(--color-input-border);
}

/* @media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0b0b0c;
    --color-foreground: #f5f5f7;
  }
} */
@custom-variant hocus (&:is(:hover, :focus-visible));

@layer components {
  .border-base {
    @apply bg-white border border-gray-200 rounded-lg;
  }

  .hocus-base {
    @apply hocus:outline-none hocus:border-gray-300;
  }

  .input-base {
    @apply h-8 w-full py-4 px-2;
  }
}
