@import './fonts.css';

@import 'tailwindcss';

@import './token.css';

/** Base */
@import './base/reset.css';
@import './base/animations.css';

/** Components */
@import './components/buttons.css';
@import './components/input.css';
@import './components/misc.css';
@import './components/surfaces.css';
@import './components/typography.css';
